---
import { getCollection } from "astro:content";
import { dateFormatter } from "../../formatters";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const series = [
  { title: "Build an SQL ORM in python from scratch", slug: "python-orm" },
];
---

<BaseLayout>
  <main class="section-container py-12 px-12">
    <section class="max-w-4xl mx-auto pt-24">
      <h1 class="text-main-100 mb-24 text-5xl">From my blog</h1>
      <ul class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5">
        {
          posts.map((post) => (
            <li class="">
              <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl aspect-square p-4 group">
                <Image
                  src={post.data.heroImage}
                  alt=""
                  class="absolute inset-0 -z-10 h-full w-full object-cover"
                />
                <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/70 to-gray-900/10" />
                <div class="absolute inset-0 -z-10 bg-primary-400/10 opacity-0 group-hover:opacity-100 transition-opacity" />

                <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
                  <time datetime="2020-03-16" class="mr-8">
                    {dateFormatter.format(post.data.pubDate)}
                  </time>
                  <div class="-ml-4 flex items-center gap-x-4" />
                </div>
                <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
                  <a href={`/blog/${post.slug}/`}>
                    <span class="absolute inset-0" />
                    {post.data.title}
                  </a>
                </h3>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
<p class="text-main-100">
  making a website responsive is called mobilizing a website
</p>
