@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    font-family: "IBM Plex Sans", sans-serif;
  }
}

@layer utilities {
  .section-container {
    @apply bg-zinc-900 mx-auto max-w-md sm:max-w-md md:max-w-2xl xl:max-w-7xl border-x border-zinc-700;
  }

  button {
    --webkit-tap-highlight-color: transparent;
  }

  .text-wrap-balance {
    text-wrap: balance;
  }
}
