@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    font-family: "Inter", sans-serif;
  }
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

@layer utilities {
  .font-ibm {
    font-family: "IBM Plex Sans", sans-serif;
  }
  .section-container {
    @apply bg-main-900 mx-auto max-w-md sm:max-w-md md:max-w-2xl xl:max-w-7xl;
  }

  button {
    --webkit-tap-highlight-color: transparent;
  }

  .text-wrap-balance {
    text-wrap: balance;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  a,
  button,
  input,
  label,
  li,
  td,
  th,
  textarea {
    @apply selection:text-primary-900 selection:bg-main-300;
  }
}

code,
pre,
code * {
  font-family: "Roboto Mono", monospace;
}

@layer components {
  .aoc-cal-square {
    @apply aspect-square text-main-300 flex items-center justify-center rounded bg-main-700;
  }

  .aoc-cal-done {
    @apply bg-green-700 hover:scale-105 transition-transform;
  }

  .calendar-graphic-wrapper {
    perspective: 1188px;
    perspective-origin: 50% 50%;
  }

  @media (min-width: 1024px) {
    .calendar-graphic {
      transform: scaleX(1) scaleY(1) scaleZ(3) rotateX(12deg) rotateY(-25deg)
        rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px)
        skewX(-17deg) skewY(10deg);
    }
  }

  .cursor-link {
    cursor: url("/cursors/link.svg"), pointer;
  }
}
