---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout showHeader={false} showFooter={false}>
  <main class="bg-main-100 w-screen h-screen overflow-y-auto">
    Data structures and algorithms
  </main>
</BaseLayout>
