---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout showFooter={false}>
  <div class="section-container">
    <h1 class="text-[24rem] text-slate-300 text-center font-ibm select-none">
      404
    </h1>
  </div>
</BaseLayout>
