---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/base.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import StackList from "../components/stack/List.svelte";
import Newsletter from "../components/Newsletter.astro";
import Cv from "../components/Cv.astro";
---

<BaseLayout>
  <section class="section-container py-12 px-12">
    <div class="flex flex-col max-w-3xl mx-auto">
      <div class="">
        <p class="tracking-widest mb-1 text-zinc-400">Hi There 👋</p>
        <h1
          class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
        >
          I am <span class="text-primary-700 dark:text-primary-400"
            >Isaac Finkelstein,</span
          > A full stack developer with a passion for making the web faster and
          easier to use
        </h1>
        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
          I have always loved software and have been lucky enough to get the
          opportunity to spend most of my day doing just that, I like learning
          new things and expand my knowledge
        </p>
        <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
          As a self taught developer I find it important to share my knowledge
          with others and help them learn as well, I learned from online blog
          posts and courses and I for the past two years I have enjoyed writing
          articles sharing what I have learned over the years
        </p>
      </div>
    </div>
  </section>
  <section class="section-container">
    <hr class="mx-56 bg-zinc-700" />
  </section>
  <section class="section-container py-12 px-12">
    <h2 class="text-white text-2xl text-center">My tech stack</h2>
    <StackList client:load />
  </section>
  <section class="section-container py-12 px-12">
    <div class="grid grid-cols-3">
      <div class="col-span-3 lg:col-span-2"></div>
      <div class="space-y-12 col-span-3 lg:col-span-1">
        <Newsletter />
        <Cv />
      </div>
    </div>
  </section>
</BaseLayout>
