---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout showFooter={false} showHeader={false}>
  <section
    class="max-w-prose mx-auto py-3 flex items-center justify-center md:gap-x-4 gap-y-2 mt-12 flex-col md:flex-row"
  >
    <a href="#experience" class="text-slate-200 hover:underline"
      >My experience</a
    >
    <a href="#abilities" class="text-slate-200 hover:underline">My abilities</a>
    <a href="#contributing" class="text-slate-200 hover:underline"
      >What's in it for you</a
    >
    <a
      href="/resume-isaac-finkelstein.pdf"
      download=""
      class="rounded-full flex items-center gap-x-2 bg-slate-200 hover:bg-slate-100 transition px-3 py-1 m-0 text-slate-800 no-underline"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.8"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
        ></path>
      </svg>

      My Resume
    </a>
  </section>
  <section class="mx-auto prose mt-6 prose-invert mb-5 px-5">
    <h1 class="text-4xl font-bold mb-4 text-slate-100">Hello Tailwind team</h1>
    <p class="">
      I am Isaac Finkelstein, a developer with over five years of experience in
      full-stack web development. In this application, I aim to convince you to
      hire me by showcasing how I can contribute to your team. First, however,
      I'd like to share why I want to work for Tailwind. I promise to keep it
      brief.
    </p>
    <p class="">
      Tailwind has revolutionized my approach to design and design systems. As
      an early adopter, I have assisted several teams in transitioning to
      Tailwind, significantly boosting developer productivity.
    </p>
    <p class="">
      Although my focus has always been on web development, I've recently
      developed an interest in tooling. This includes developer tools and some
      internal tools for companies. I appreciate the complexity involved in
      building these tools and find the challenges they present to be
      particularly rewarding.
    </p>

    <h3 id="experience" class="">My experience</h3>
    <p class="">
      Throughout my five-plus years in the field, I have primarily worked with
      JavaScript/TypeScript and Python. My experience spans the entire web
      stack, including various databases, DevOps, cloud providers, and numerous
      other web-related technologies.
    </p>

    <p class="">
      I have always prioritized perfecting my skills and learning new things.
      Often, I have chosen roles that pushed me to grow rather than those that
      seemed more comfortable. I believe in contributing more effectively when
      challenged to explore new ideas rather than relying solely on my existing
      skills. This position excites me not because I am already proficient but
      because I see the potential for excellence.
    </p>
    <h3 id="abilities" class="">My abilities</h3>
    <p class="">
      Upon seeing the list of previous tasks for this role, my initial thought
      was that I might not be qualified enough to handle all that. However,
      reflecting on my previous experiences, this opportunity began to seem like
      the ideal new chapter for me. I recognize the need to elevate my skills,
      but I am confident in my ability to adapt swiftly and embrace new
      challenges. Up to this point, my experience has spanned the entire web
      spectrum, including database management, frontend development, and complex
      backend projects. While I have a stronger preference for, and greater
      proficiency in, backend development—which closely aligns with tooling and
      working directly on Tailwind—I also find joy in frontend projects that
      present creative and genuine challenges.
    </p>
    <p class="">
      For more detailed information about my experiences and skills, please
      refer to my resume attached below.
    </p>
    <div class="rounded p-3 border flex items-center justify-between">
      <h3 class="my-0">My resume</h3>
      <a
        href="/resume-isaac-finkelstein.pdf"
        download=""
        class="rounded-full flex items-center gap-x-2 bg-slate-200 hover:bg-slate-100 transition px-3 py-1 m-0 text-slate-800 no-underline"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.8"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
          ></path>
        </svg>

        Download
      </a>
    </div>
    <p class="">
      My preferred language for web-related projects is JavaScript/TypeScript.
      Initially, I was not a fan of JavaScript, but working with TypeScript has
      changed my perspective. My brief experience with Rust provided a similar
      satisfaction, largely due to the strong typing system which enhances the
      developer experience.
    </p>
    <p class="">
      For data-related tasks, Python is my go-to due to its simplicity and
      efficiency in prototyping and iterating without excessive tooling.
    </p>
    <p class="">
      Seeking to challenge myself, I took a position working with PHP/Laravel
      two years ago, despite having no prior experience with either. The company
      was aware of this. Despite the steep learning curve and a strict deadline
      from one of our vendors, I quickly adapted and contributed within my first
      week. While I have not extensively worked with PHP since, I include it
      here because of the valuable experience gained.
    </p>
    <h3 id="contributing" class="">What can I do for you?</h3>
    <p class="">
      I may not have direct experience with all the technologies required for
      this job, but I compensate with a keen eagerness to learn and grow. I
      believe I can make significant contributions to the team and to the future
      of Tailwind.
    </p>
    <p class="">
      I excel at researching solutions independently and taking ownership of
      products or features with minimal oversight. I also enjoy collaborating
      and assisting teammates to overcome challenges. I am at my best when there
      is a balance between autonomy and collaboration. Based on what I've
      learned about your team, I believe this environment will enable me to
      thrive and, in turn, contribute to the team's success.
    </p>
    <p class="">
      I look forward to the possibility of working together to make the frontend
      world a better space, one feature at a time.
    </p>
  </section>
</BaseLayout>
