---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="section-container py-3 flex items-center justify-center">
  <nav
    class="py-1 px-2 flex items-center justify-center space-x-3 rounded-full border border-zinc-700 bg-zinc-800"
  >
    <a
      href="/"
      class="text-zinc-100 px-2 font-light transition-colors duration-150 text-sm hover:text-primary-500"
      >Home</a
    >
    <a
      href="/blog"
      class="text-zinc-100 px-2 font-light transition-colors duration-150 text-sm hover:text-primary-500"
      >Blog</a
    >
    <a
      href="/projects"
      class="text-zinc-100 px-2 font-light transition-colors duration-150 text-sm hover:text-primary-500"
      >Projects</a
    >
    <a
      href="/about"
      class="text-zinc-100 px-2 font-light transition-colors duration-150 text-sm hover:text-primary-500"
      >About</a
    >
    <a
      href="/contact"
      class="text-zinc-100 px-2 font-light transition-colors duration-150 text-sm hover:text-primary-500"
      >Contact</a
    >
  </nav>
</header>
