---
const { pathname } = Astro.url;

const navItems = [
  { name: "Home", href: "/", active: pathname === "/" },
  { name: "About", href: "/about", active: pathname.startsWith("/about") },
  { name: "Blog", href: "/blog", active: pathname.startsWith("/blog") },
  {
    name: "Contact",
    href: "/contact",
    active: pathname.startsWith("/contact"),
  },
];
---

<header class="pb-3 flex items-center justify-center sticky top-3 z-40 mt-6">
  <nav
    class="px-4 rounded-full border border-main-700 bg-main-800/50 backdrop-blur-xl overflow-hidden"
  >
    <ul class="flex items-center justify-center space-x-3">
      {
        navItems.map((item) => (
          <li class="relative py-2">
            <a
              href={item.href}
              class={`${
                item.active ? "text-primary-400" : "text-main-100"
              } px-2 font-light transition-colors duration-150 text-sm hover:text-primary-500`}
            >
              {item.name}
            </a>
            {item.active && (
              <div
                transition:name="navIndicator"
                class="absolute inset-x-2 bg-primary-500/90 h-1 bottom-0 rounded-t-full"
              />
            )}
          </li>
        ))
      }
    </ul>
  </nav>
</header>
