---
import Image1 from "../images/home-page/1.jpg";
import Image2 from "../images/home-page/2.jpg";
import Image3 from "../images/home-page/3.jpg";
import Image4 from "../images/home-page/4.jpg";
import Image5 from "../images/home-page/5.jpg";
import Image6 from "../images/home-page/6.jpg";
import Image7 from "../images/home-page/7.jpg";
import Image8 from "../images/home-page/8.jpg";
import { Image } from "astro:assets";

const images = [
  Image1,
  Image2,
  Image3,
  Image4,
  Image5,
  Image6,
  Image7,
  Image8,
  Image1,
  Image2,
  Image3,
  Image4,
  Image5,
  Image6,
  Image7,
  Image8,
];
---

<div class="relative w-screen overflow-x-hidden">
  <div class="flex space-x-6 flex-nowrap overflow-x-hidden">
    {
      images.map((img, i) => (
        <Image src={img} alt="image" class="aspect-square w-1/2 max-h-48" />
      ))
    }
  </div>
  <div class="absolute inset-0">
    <div class="section-container"></div>
  </div>
</div>
<!-- <div class="relative w-screen overflow-x-hidden">
  <section class="w-screen py-12 h-full section-container">
    <div
      class="absolute top-3 bottom-12 flex left-50 -tranmain-x-1/2 space-x-8"
    >
      {
        images.map((img, i) => (
          <div
            class={`aspect-1 rounded-md h-48 w-48 overflow-hidden ${
              i % 2 === 0 ? "rotate-3" : "-rotate-3"
            }`}
          >
            <Image src={img} alt="'image" class="w-full h-full" />
            <div class="absolute inset-0 bg-main-800/50 " />
          </div>
        ))
      }
    </div>
  </section>
</div> -->
