---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/base.css";
import { ViewTransitions } from "astro:transitions";
export type Props = {
  showHeader?: boolean;
  showFooter?: boolean;
  description?: string;
  title?: string;
  loadNunito?: boolean;
};

const {
  showFooter = true,
  showHeader = true,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  loadNunito = false,
} = Astro.props;
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    {
      loadNunito && (
        <>
          <link rel="preconnect" href="https://fonts.googleapis.com" />
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
          <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet"
          />
        </>
      )
    }
  </head>
  <body class="bg-main-900 relative p-0 dark scroll-smooth">
    {showHeader && <Header />}
    <slot />
    {showFooter && <Footer />}
  </body>
</html>
