---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import portrait from "../../images/headshot.jpeg";
import TwContent from "./TwContent.svelte";
import WhoAMI from "./content/WhoAmI.md";
---

<BaseLayout
  showFooter={false}
  showHeader={false}
  title="Tailwind Labs application | Isaac Finkelstein"
  description="A little about me, my journey, experiences and plans"
  loadNunito={true}
>
  <main class="max-w-6xl px-5 mx-auto py-12 scroll-smooth">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-12 md:gap-x-12"
    >
      <div class="">
        <div class="max-w-xs px-2.5 lg:max-w-none">
          <Image
            src={portrait}
            alt={"Isaac Finkelstein"}
            class="aspect-square rotate-3 rounded-2xl bg-main-100 object-cover dark:bg-main-800 shadow-2xl shadow-primary-300/40"
          />
        </div>
      </div>
      <div class="flex flex-col gap-y-4 col-span-2 justify-center">
        <h3 class="text-3xl font-nunito text-slate-300">
          Hello Tailwind Team 👋
        </h3>
        <h1
          class="text-4xl font-bold tracking-tight text-main-800 dark:text-main-100 sm:text-5xl font-ibm"
        >
          I’m <span class="text-primary-500 font-ibm">Isaac Finkelstein,</span> I
          love to code and challenge myself.
        </h1>
        <div class="flex">
          <a
            href="/resume-isaac-finkelstein.pdf"
            download=""
            class="rounded font-ibm flex items-center gap-x-2 hover:bg-primary-500 border border-primary-500 text-primary-500 transition px-3 py-1 m-0 hover:text-slate-200 no-underline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.8"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
              ></path>
            </svg>

            My Resume
          </a>
        </div>
      </div>
    </div>
    <TwContent client:load />
  </main></BaseLayout
>
